#board {
    display: flex; /* Alinha as colunas horizontalmente */
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    min-height: 100vh;
    gap: 1rem;
}

.column-container {
  flex: 1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .column-container {
    min-width: 70%;
    overflow-x: auto;
  }
}